<!-- ngStyle -->


<!-- <p style="background-color: red;">Paragraph</p> -->

<!-- <style>
    .divClass{
        background-color: red;
    }
</style> -->


<p [ngStyle] = 
"{ 'background-color': yellowcolor ,
   'color': redcolor }">
    Paragraph</p>


<hr>


<!-- 
<div class="divClass">

</div> -->


<!-- ngClass -->


<p [ngClass]="'paragraph'">Paragraph</p>


<!-- <p class="paragraph"></p> -->


<!-- ngIf -->
<div>
 Article Is : 
  <article *ngIf="isAdmin ; else notAdmintemplate">
           This is Article based on the Cricket
  </article>

  <ng-template #notAdmintemplate>
    <p>You are not admin</p>
  </ng-template>
</div>



<hr>

<h1>ng-template</h1>

<!-- elements are in off the webpage-->
<ng-template>
      <p>Hello Paragraph</p>
</ng-template>



<hr>

<h1>Local Ref</h1>
<!--Local ref-->


<p #paragraph>Angular and Typescript</p>

<input type="text" #itext>

<button (click)="btnClick(paragraph , itext)">Print Message</button>





<hr>
<!-- *ngFor -->

<!-- <ul>
  <li>Keerthi</li>
  <li>Sreedevei</li>
  <li>Shashank</li>
  <li>karthik</li>
  <li>Siva</li>

  
</ul> -->

<ul>
    <li *ngFor="let student of studentNames; let i = index"> {{i + 1}} --- {{student}}</li>
</ul>


<hr>

<p [ngClass]="'paragraph'" *ngFor="let pstudent of studentNames;">{{pstudent}}</p>



<table [ngStyle]="">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tname of studentNames ; let i = index">
            <td>{{i}}</td>
            <td>{{tname}}</td>
        </tr>
    </tbody>
</table>


<hr>
<h1>ngSwith and ngSwithCase</h1>


<div>Student is : </div>
<div [ngSwitch]="studentID">
    <p *ngSwitchCase="1"> Siva </p>
    <p *ngSwitchCase="2"> Shashank </p>
    <p *ngSwitchCase="3"> Karthik </p>
    <p *ngSwitchCase="4"> Sashi </p>
    <p *ngSwitchCase="5"> Sredevi </p>
    <p *ngSwitchCase="6"> keerthi </p>
    <p *ngSwitchDefault="">No student.....</p>
</div>



<div>YOur element is : </div>
<div [ngSwitch]="elementName">
    <input type="text"     *ngSwitchCase="'input-text'">
    <input type="password" *ngSwitchCase="'input-password'">
    <input type="radio"    *ngSwitchCase="'input-radio'">
    <input type="checkbox" *ngSwitchCase="'input-checkbox'">
    <p *ngSwitchDefault="">NO element....</p>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<!-- LocalRef , ng-template and how to handle else condtion , switch case -->














<!-- Communicate to the Data from parent to child comp-->